/* versione computer */
@media all and (min-width: 992px) {

    #left-bar i {
        font-size: 15px;
    }

    #left-bar span {
        font-size: 12px;
    }

    #main-container {
        display: flex;
    }

    #ms_row-1 {
        width: 60%;
    }
    
    #ms_row-2 {
        width: 40%;
    }

    #left-bar {
        width: 130px;
    }

    #left-bar span {
        display: inline-block;
    }

    #ms_new-student-col {
        order: 2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .ms_hidden {
        display: inline-block;
    }

    header i {
        padding-left: 10px;
        display: inline-block;
    }
}



/* versione tablet */
@media all and (min-width: 768px) {

    


}





/* versione mobile */

/* anche se l'approccio è mobile first, ho dovuto mettere questa media query perché non riuscivo a risolvere un problema nella sezione "prossime classi". In particolare, quando davo "display: none" alle colonne "prossime classi" e "ROI", e nelle media query del tablet andavo a sostituire il "display: none" con "display: inline-block"in automatico si aggiungeva uno spazio tra le colonne e non riuscivo ad eliminarlo. Con la media query del mobile ho invece risolto. */

@media all and (max-width: 575px) {

    .ms_d-none-mobile {
        display: none;
    }

}