* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Comic Neue', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #F8F9FA;
    height: 70px;
    display: block;
}

header .row {
    height: 70px;
}

header form {
    width: 100%;
}

.ms_img-container-header {
    height: 60px;
    width: 60px;
}

header img {
    width: 100%;
    object-fit: contain;
}

header a {
    color: #626060;
}

.fa-bell {
    color: orange;
}

#left-bar {
    height: calc(100vh - 70px);
    background-color: #0D253A;
    width: 80px;
}

#left-bar i {
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

#left-bar span {
    display: none;
}

.left-bar-btn {
    color: white;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    padding: 3px;
}

.left-bar-btn:hover {
    background-color: #7D8E9B;
    padding: 3px;
}

#central-part {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 70px);
    background-color: #F8F9FA;
    padding-bottom: 20px;
}

#central-part-header {
    background-color: #1B72E8;
    color: white;
}

#central-part-header .row {
    /* debug */
    min-height: 130px;
}

#ms_add-new-student {
    color: white;
}

.ms_breadcrumb {
    display: inline-block;
    padding: 2px 7px;
    border-radius: 50px;
    background-color: #165AB8;
    cursor: pointer;
}

.ms_breadcrumb:hover {
    opacity: 0.3;
}

.ms_hidden {
    display: none;
}

#main-container {
    width: 100%;
    margin: 0 auto;
}

.ms_row {
    width: 98%;
    margin: 0 auto;
}

.ms_label {
    padding: 2px 7px;
    color: white;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
}

.first-row-container {
    padding: 0;
    border: 1px solid black;
}

#prossime-classi i {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    color: grey;
    cursor: pointer;
}

hr {
    margin: 0;
}

main img {
    width: 100%;
}
